.cabecalho {
    background-color: brown;
    color: aliceblue;
    display: flex;
    padding: 24px 0;
}

.section {
    background-color: brown;
    padding: 100px;
}

.section2 {
    background-color: blue;
    padding: 100px ;
}

.cabecalho-imagem {
    width: 200%;
}

.rodape {
    background-color: black;
}