.cabecalho {
    background-color: brown;
    color: aliceblue;
    display: flex;
    padding: 24px;
}

.section {
    background-color: brown;
    padding: 100px;
}

.section2 {
    background-color: blue;
    padding: 80px ;
}

.cabecalho-imagem {
    width: 15%;
}

.rodape {
    background-color: black;
}